<h1><%= @place["name"] %></h1>

<div class="mb-3">
  <button type="button" class="btn btn-outline-success">
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
  </button>
</div>

<div class="row">
<% if @current_user %>
  <% for post in @posts %>
    <div class="col-md-4 col-sm-6">
      <h3><%= post["title"] %></h3>
      <h4><%= post["posted_on"] %></h4>
      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <h1 class="display-6" class="text-center">No Optional Image</h1>
      <% end %>

      <p><%= post["description"] %></p>
    </div>
  <% end %>
<% else %>
 <p> <a href="/login">Login</a> to view your post. </p>
<% end %>
</div>

<div class="mb-3">
  <button type="button" class="btn btn-outline-success">
  <a href="/places">Back to Places</a>
  </button>
</div>